table, td {
    border: solid black 3px;
}

td {
    padding: 30px;
}

.back_crimson {
    background-color:crimson;
}

.back_cadetblue {
    background-color:cadetblue;
}
.cube-1 {
    background-color: burlywood;
}

.cube-2{
    background-color: brown;
}

.cube-3 {
    background-color:darkgray;
}

.cube-4 {
    background-color: deeppink;
}